h1 {
    text-transform: uppercase;
    text-align: center;
}

#up {
    text-align: center;
}

#up a {
    transition: color 0.2s;
    color: white;
}

#up a:hover {
    color: rgb(218, 141, 0);
}

#fastnav {
    display: flex;
    position: absolute;
    left: 50px;
}

#fastnav li {
    display: inline-block;
    background-color: rgb(13, 106, 183);
    width: 300px;
    height: 450px;
    margin: 20px;
    transition: box-shadow 0.3s;
}

#fastnav li a {
    display: block;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#fastnav li a h2, p {
    margin: 0;
}

#fastnav li:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#fastnav li a:hover {
    color: rgb(218, 141, 0);
}

